body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: content-box;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

nav {
    line-height: 4em;
}

a {
    display: flex;
    justify-content: space-between;
    width: 100px;
    align-items: center;
    text-decoration: none;
    color: black;
}

.aside {
    border-right: 1px solid rgb(196, 190, 190);
    width: 240px;
    /* padding-left: 15px; */
    height: 100%;
}

.gap1 {
    width: 85px;
}

.gap2 {
    width: 90px;
}

.gap3 {
    width: 105px;
}

.gap4 {
    width: 125px;
}

.gap5 {
    width: 77px;
}

#wrapper {
    display: flex;
    justify-content: space-between;
    gap: 120px;
}

.instalogo,
.rightpics {
    width: 43px;
    height: 43px;
    border-radius: 50%;
    border: 2px solid red;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.wrapper2 {
    border: 1px solid rgb(231, 220, 220);
    border-radius: 5px;
    padding-top: 5px;
}

.wrapper3,
.wrapper4 {
    border: 1px solid rgb(231, 220, 220);
    border-radius: 5px;
    padding-top: 5px;
    margin-top: 15px;
}

.header1,
.header3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border: 1px rgb(216, 210, 210);
    border-radius: 5px;
    padding: 6px;
}

input {
    width: 85%;
    height: 20px;
    border: none;
    color: rgb(240, 231, 231);
}

.smiley {
    width: 15px;
}

.end {
    line-height: 7px;
    padding-bottom: 10px;
    padding-left: 6px;
}

.comment1 {
    color: rgb(165, 158, 158);
}

.rightsection {
    border: 1px solid black;
    width: 400px;
    height: 550px;
    margin-top: 15px;
    padding-right: 50px;
    padding-top: 20px;
}

.profiles {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(223, 214, 214);
    border-radius: 5px;
    padding: 20px 0px 25px 15px;
    height: 70px;
    margin: 15px 0px;
    font-size: 12px;
}

.profimg {
    width: 57px;
    height: 57px;
    border-radius: 50%;
    border: 2px solid red;
}

.footimg {
    width: 30px;
    padding-right: 5px;
}

.body1 {
    border: 1px solid rgb(133, 127, 127);
    border-radius: 5px;
}

.rightsection {
    border: none;
    line-height: 17px;
}

.right1 {
    display: flex;
    align-items: center;
    gap: 28px;
}

.rightspan {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

p {
    color: gray;
}

ul {
    list-style: none;
    line-height: 75px;
}

.navimg {
    width: 30px;
}

.navimg1 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.follow {
    color: rgb(132, 132, 206);
    font-size: 13px;
}

.suggestions {
    display: flex;
    gap: 125px;
}